# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Android
*.jks
*.keystore
.gradle/
local.properties
android/app/release/
android/.gradle

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Misc
.DS_Store
Thumbs.db
*.log
# Compiled binaries -> use GitHub Releases
apk/
*.apk

